
.guide {
    color: var(--secundary);
    float: left;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .guide a {
        color: var(--primary);
    }

        .guide a:hover {
            color: var(--secundary);
        }

/* Media Queries*/
@media (min-width: 500px) {

}

@media (min-width: 630px) {

}

@media (min-width: 790px) {

}

@media (min-width: 1024px) {


}

@media (min-width: 1082px) {
    .guide {
        margin: 8rem 0 2rem 2rem;
    }
}

@media (min-width: 1148px) {
    .guide {
        margin: 9rem 0 2rem 2rem;
    }   
}

@media (min-width: 1280px) {
    .guide {
        margin: 10rem 0 2rem 2rem;
    }
}

@media (min-width: 1400px) {
    .guide {
        margin: 11rem 0 2rem 2rem;
    }
}
