@model IEnumerable<CasaSW.Models.ViewModel.RequestPOCP>

@{
    ViewBag.Title = "Submit Requests";
    ViewBag.Guide = "Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/swrequest.css" />
<script src="~/Scripts/request.js"></script>

<p class="guide">
    You are at > @Html.ActionLink("Home", "Index", "HOME") > @Html.ActionLink("Request", "Index", "SW_REQUEST")
</p>
<div class="form">
    <div class="container">
        <form action="@Url.Action("Create", "SW_REQUEST")" method="post" class="form-request" id="form-request">
            @* CLIENT INFO *@
            <fieldset class="customer-section">
                <legend>Customer info</legend>
                <label for="cid">Identification</label>
                <input type="number" required id="cid" placeholder="Identification" name="id_persona" />
                <label for="cname">Name</label>
                <input type="text" required id="cname" placeholder="Name" name="Name_" />
                <label for="cusername">Username</label>
                <input type="text" id="cusername" placeholder="Username" name="username_persona" />
                <label for="cpass">Password</label>
                <input type="password" required id="cpass" placeholder="Password" name="Password_" />
                <label for="cemail">Email</label>
                <input type="email" required id="cemail" placeholder="Email" name="Email_" />
                <label for="cnumber">Phone number</label>
                <input type="tel" required id="cnumber" placeholder="PhoneNumber" name="PhoneN_" />
            </fieldset>
            @* PRODUCT INFO *@
        <fieldset class="product-section">
            <legend>Product info</legend>
            <label for="pname">Name</label>
            <input type="text" required id="pname" placeholder="Name" name="product_name" />
            <label>Type</label>
            <input name="product_type" list="prodtype" placeholder="Product type" />
            <datalist id="prodtype" required onchange="select()">
                <option value="" selected data-default>--Select product type</option>
                <option value="Web app">Web application</option>
                <option value="Desktop app">Desktop application</option>
                <option value="Other">Other</option>
            </datalist>
            @*<input type="text" required id="pother" placeholder="What product would you like?" /> if user choose "other" option*@
            <label for="pdesc">Description</label>
            <textarea required id="pdesc" placeholder="Describe the product..." name="product_description"></textarea>
        </fieldset>
            <div class="form-buttons">
                <input type="submit" value="Submit" />
                <input type="button" value="Clean" class="bt-clean"/>
            </div>
        </form>
    </div>
</div>
