@{
    ViewBag.Title = "Create SAC";
    Layout = "~/Views/Shared/_Layout.cshtml";    
    ViewBag.Guide = "Management";    
}

<link rel="stylesheet" href="~/Content/register.css" />

<div class="form">
    <p class="guide">
        You are at > <a href="/HOME/Index">Home</a> > <a href="/MANAGEMENT/Index">Management</a> > <a href="/MANAGEMENT/Create">Create SAC</a>
    </p>
    <form action="@Url.Action("Create","MANAGEMENT")" method="post" class="info-form">
        <fieldset>
            <legend>New SAC</legend>
            <div class="info-sac">
                <div class="avatar-slc">
                    <img src="/img/avatar1.png" name="cambio" alt="" style="width:100px; height:100px;">
                    <select name="avatar" onchange="if(document.images) document.images['cambio'].src='/img/avatar'+this.options[this.selectedIndex].value+'.png';">
                        <option value="1">Avatar1</option>
                        <option value="2">Avatar2</option>
                        <option value="3">Avatar3</option>
                        <option value="4">Avatar4</option>
                    </select>
                </div>
                <div class="info-sac-content">
                    <input type="text" id="id" required name="IdUsuario" placeholder="Identification">
                    <input type="text" required id="name" name="name" placeholder="Name">
                    <input type="email" required id="email" name="email" placeholder="Email">
                    <input type="text" required id="username" name="Username" placeholder="Username">
                    <input type="password" id="password" name="Password" placeholder="Password">
                    <input type="password" id="confirmpassword" name="ConfirmarPassword" placeholder="Confirm password">
                </div>
                @if (ViewData["Mensaje"] != null)
                {
                    <div role="alert" style="text-align:center;">
                        @ViewData["Mensaje"]
                    </div>
                }
                <button type="submit" id="crea" class="edit">Create SAC</button>
            </div>
        </fieldset>
    </form>
</div>




