@{
    ViewBag.Title = "Home Page - Welcome to MySW";
    ViewBag.Guide = "Customers";
}
<link rel="stylesheet" href="~/Content/customers.css"/>

<p class="guide">
    You are at > @Html.ActionLink("Home", "Index", "Home") > @Html.ActionLink("Customers", "Customers", "Home")
</p>
